:root {
    --sidebar-width: 10rem !important;
}

h1, h2, h3 {
    font-size: 1rem !important;
    font-weight: 600 !important;
}

@media (max-width: 67em) {
    .sidebar-drawer { width: 10rem !important; }
}
