h1 { font-size: 1.6rem !important; }

/* Narrow the sidebar */
:root {
    --sidebar-width: 10rem !important;
}

/* Hide sidebar on mobile-width screens */
@media (max-width: 67em) {
    .sidebar-drawer { width: 10rem !important; }
}
